@font-face {
  font-family: 'aleoregular';
  src: url("../fonts/aleo-regular-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo-regular-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontawesomeregular';
  src: url("../fonts/fontawesome-webfont-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'josefin_sansbold';
  src: url("../fonts/josefinsans-bold-webfont.woff2") format("woff2"), url("../fonts/josefinsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'josefin_sansregular';
  src: url("../fonts/josefinsans-regular-webfont.woff2") format("woff2"), url("../fonts/josefinsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

@media only screen and (min-width: 0) {
  [class*="col-xs"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xs-offset-1 {
    margin-left: 8.33333%; }
  .col-xs-offset-2 {
    margin-left: 16.66667%; }
  .col-xs-offset-3 {
    margin-left: 25%; }
  .col-xs-offset-4 {
    margin-left: 33.33333%; }
  .col-xs-offset-5 {
    margin-left: 41.66667%; }
  .col-xs-offset-6 {
    margin-left: 50%; }
  .col-xs-offset-7 {
    margin-left: 58.33333%; }
  .col-xs-offset-8 {
    margin-left: 66.66667%; }
  .col-xs-offset-9 {
    margin-left: 75%; }
  .col-xs-offset-10 {
    margin-left: 83.33333%; }
  .col-xs-offset-11 {
    margin-left: 91.66667%; }
  .col-xs-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 575px) {
  [class*="col-sm"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 768px) {
  [class*="col-md"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1025px) {
  [class*="col-lg"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1200px) {
  [class*="col-xl"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1440px) {
  [class*="col-xxl"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-xxl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xxl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xxl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xxl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xxl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xxl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xxl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xxl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xxl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xxl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xxl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xxl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xxl-offset-1 {
    margin-left: 8.33333%; }
  .col-xxl-offset-2 {
    margin-left: 16.66667%; }
  .col-xxl-offset-3 {
    margin-left: 25%; }
  .col-xxl-offset-4 {
    margin-left: 33.33333%; }
  .col-xxl-offset-5 {
    margin-left: 41.66667%; }
  .col-xxl-offset-6 {
    margin-left: 50%; }
  .col-xxl-offset-7 {
    margin-left: 58.33333%; }
  .col-xxl-offset-8 {
    margin-left: 66.66667%; }
  .col-xxl-offset-9 {
    margin-left: 75%; }
  .col-xxl-offset-10 {
    margin-left: 83.33333%; }
  .col-xxl-offset-11 {
    margin-left: 91.66667%; }
  .col-xxl-offset-12 {
    margin-left: 100%; } }

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto; }

a {
  color: inherit; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class^='col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  margin-left: -12px; }

body {
  color: #fff;
  border: 15px solid #fff; }

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1;
  /* Firefox */ }

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1;
  /* Firefox */ }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66667%; }

.col-10 {
  width: 83.33333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66667%; }

.col-7 {
  width: 58.33333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66667%; }

.col-4 {
  width: 33.33333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66667%; }

.col-1 {
  width: 8.33333%; }

.header {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 95px);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative; }
  .header__content {
    position: relative;
    top: -11px; }
  .header__title {
    font-family: 'josefin_sansregular';
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  .header__text {
    font-size: 22px;
    font-family: 'josefin_sansregular';
    letter-spacing: 0.35em;
    padding: 0.45em 0 2.19em; }
  .header__form {
    display: block;
    background-color: #FFF;
    max-width: 655px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff; }
    .header__form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header__form input {
      color: #999999;
      line-height: 56px;
      border: none;
      width: 76%;
      font-size: 14px;
      font-family: 'josefin_sansregular';
      letter-spacing: 0.2em;
      vertical-align: middle;
      line-height: 56px;
      text-align: center;
      outline: transparent; }
    .header__form button {
      width: 22%;
      background-color: #5474fd;
      height: 56px;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'aleoregular';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      letter-spacing: 0.1em; }
      .header__form button .fa {
        font-size: 20px;
        padding-left: 1em;
        font-weight: 200; }
  .header .scroll {
    position: absolute;
    top: 161%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header__text-scroll {
    font-size: 14px;
    font-family: 'josefin_sansregular';
    letter-spacing: 0.2em;
    padding-bottom: 0.7em; }

.navigation {
  background-color: #5474fd;
  height: 80px; }
  .navigation .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navigation__logo {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'josefin_sansbold';
    letter-spacing: 0.029em;
    line-height: 80px; }
  .navigation .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navigation .menu__item {
      font-size: 14px;
      font-family: 'aleoregular';
      text-transform: uppercase;
      padding-left: 3em;
      line-height: 80px; }

.choose {
  background-image: url("../img/why.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0; }
  .choose .container {
    position: relative; }
  .choose__title {
    font-family: 'aleoregular';
    font-size: 36px;
    text-transform: capitalize;
    padding: 2.28em 0 1.5em; }
  .choose__text {
    font-size: 16px;
    font-family: 'josefin_sansregular';
    line-height: 1.625;
    max-width: 545px; }
    .choose__text + .choose__text {
      padding-top: 1.625em; }
  .choose__btn {
    width: 225px;
    height: 60px;
    line-height: 60;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'aleoregular';
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #496bfe;
    margin-top: 2.875em; }
  .choose .col-6 {
    margin-left: -12px; }
  .choose__img {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .choose__img img:first-child {
      position: relative;
      left: 12%; }
    .choose__img img:last-child {
      position: relative;
      left: 35.37%; }
    .choose__img img + img {
      padding-top: 5px; }

.place {
  background-color: #333333;
  padding: 93px 0 112px; }
  .place .col-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    height: 100%; }
  .place__title {
    font-size: 36px;
    font-family: 'aleoregular';
    width: 100%;
    text-align: center;
    padding-top: 0.8em; }

.spain1 {
  background-image: url("../img/spain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .spain1 .col-6 {
    background-color: rgba(43, 38, 34, 0.8);
    padding: 49px 23px;
    max-width: 540px; }
  .spain1__title {
    font-family: 'josefin_sansregular';
    font-size: 20px; }
    .spain1__title--small {
      font-size: 20px; }
    .spain1__title--big {
      text-transform: uppercase;
      padding: 1.35em 0; }
  .spain1__text {
    font-size: 16px;
    font-family: 'josefin_sansregular';
    line-height: 1.625; }
  .spain1__btn {
    width: 225px;
    height: 60px;
    line-height: 60;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'aleoregular';
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #496bfe;
    margin-top: 2.94em; }

.spain2 {
  background-image: url("../img/spain-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .spain2 .col-6 {
    background-color: rgba(43, 38, 34, 0.8);
    padding: 49px 23px;
    max-width: 540px;
    position: relative;
    left: 50%; }
  .spain2__title {
    font-family: 'josefin_sansregular';
    font-size: 20px; }
    .spain2__title--small {
      font-size: 20px; }
    .spain2__title--big {
      text-transform: uppercase;
      padding: 1.35em 0; }
  .spain2__text {
    font-size: 16px;
    font-family: 'josefin_sansregular';
    line-height: 1.625; }
  .spain2__btn {
    width: 225px;
    height: 60px;
    line-height: 60;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'aleoregular';
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #496bfe;
    margin-top: 2.94em; }

.tourist {
  background-image: url("../img/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 0 198px; }
  .tourist__title {
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'aleoregular';
    text-align: center;
    padding-bottom: 2.64em; }
  .tourist .row {
    background-color: #333333; }
    .tourist .row img {
      height: 100%; }
  .tourist [class^=col] {
    padding: 0; }
  .tourist .col-7 {
    padding: 0 35px; }
  .tourist__name {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'josefin_sansregular';
    padding-bottom: 1.7em;
    padding-top: 2.6em; }
  .tourist__about {
    font-family: 'josefin_sansregular';
    font-size: 16px;
    line-height: 1.625; }
  .tourist .fa {
    color: #5474fd;
    padding-bottom: 0.3em;
    position: relative;
    bottom: 10px; }

.footer {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 117px 0 52px; }
  .footer .fa {
    color: #fff;
    font-size: 16px; }
    .footer .fa:hover {
      color: #5474fd; }
  .footer__logo {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'josefin_sansbold';
    letter-spacing: 0.2em;
    padding-bottom: 0.5em; }
  .footer__text {
    font-size: 16px;
    font-family: 'josefin_sansregular';
    padding-bottom: 1.56em; }
  .footer__social a + a {
    padding-left: 20px; }

/*# sourceMappingURL=style.css.map */